<%- include("../eshop/header", {title: title, user: user}); %>

<body>
<h1 class="welcome" style="color: black;">Om Eshop </h1>

<p class="welcome" style="color: black;">Eshopp 1 & 2 är skapad av utvecklarna Idrees Safi ,Bashar Altaleb och Muhammed Kheer Abu Khalaf</p>
<p class="welcome" style="color: black;">Eshoppet 3 är skapad av utvecklaren Idrees Safi som studerar webbprogrammering vid Blekinge
Tekniska högskola.</p>

</div>

<%- include("../eshop/footer"); %>
