<%- include("../eshop/header", {title: title, user: user}); %>

<h1 class="welcome">Welcome to the coffeshop</h1>
<img class="img-header" src="../../img/banner.jpg" alt="Café image" />
<p class="welcome">Browse our stock and see if we have your favorite coffe and why not a mug too?</p>
<ul>
    <li class="welcome"><a href="category">View Coffee Category</a></li>
</ul>

<%- include("../eshop/footer"); %>
